In [2]:
#Importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn; seaborn.set()

#Importing the dataset as a dataframe
df = pd.read_csv (r'recruitmentdataset-2022-1.3.csv')
df.columns = ['Id', 'gender', 'age', 'nat', 'sport', 'grade', 'debclub', 'progxp', 'intxp', 'entrxp', 'lang', 'exactStudy', 'degree', 'comp', 'hired']

,Id,gender,age,nat,sport,grade,debclub,progxp,intxp,entrexp,lang,exctStd,degree,comp,hired
0,x8011e,female,24,German,Swimming,70,False,False,False,False,1,True,phd,A,True
1,x6077a,male,26,German,Golf,67,False,True,False,False,2,True,bachelor,A,False
2,x6006e,female,23,Dutch,Running,67,False,True,True,False,0,True,master,A,False
3,x2173b,male,24,Dutch,Cricket,70,False,True,False,False,1,True,master,A,True
4,x6241a,female,26,German,Golf,59,False,False,False,False,1,False,master,A,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,x7640e,female,28,Dutch,Running,63,False,False,False,False,0,False,master,D,False
3996,x3310f,female,27,Dutch,Tennis,62,False,False,False,True,2,True,bachelor,D,False
3997,x1202g,male,24,Belgian,Rugby,60,True,False,False,True,2,False,bachelor,D,False
3998,x1263d,female,22,Dutch,Tennis,66,False,True,False,False,1,True,bachelor,D,False
3999,x2396a,male,28,Dutch,Football,58,False,False,False,False,1,False,bachelor,D,False

In [5]:
#splitting dataset: independent var x, dependent var y
x = df.loc[:, ['intxp', 'age', 'lang', 'debclub']].values
y = df.loc[:, ['hired']].values

#splitting dataset: training and test set, where 80% of the data is in the training set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

#feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [10]:
#importing
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense

#initializing ANN
classifier = Sequential()

#adding the input layer and hidden layer
#TODO : try diff activation
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 4))
#output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

ModuleNotFoundError: No module named 'tensorflow'